.App {
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header{
  display: flex;
  justify-content: end;
  align-items: center;
}
footer{
  text-align: center;
}
.body-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.cart{
  height: 100vh;
}
.categories-shoplist{
  width: 70%;
}
.planlist-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.plant-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.plant-list img{
  width: 300px;
  height: 320px;
  border-radius: 10px;
}
.care-scale img{
  width: 20px;
  height: 20px;
}
.category-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
